/* Punto de control para dispositivos móviles */
@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
        font-family: Montserrat;
	background-color: #D9D9D9;
    }

    nav {
        display: flex;
        right: 0;
        justify-content: space-between;
        padding: 10px;
		width: 100%;
        position: absolute;
		height: 10%;
        z-index: 2; /* Asegura que la navegación esté por encima de la imagen */
		background: linear-gradient(180deg, #133C6D 0%, rgba(19, 60, 109, 0.00) 100%);
    }
	
    .menu-toggle {
        font-size: 24px;
		margin-left: 20px;
        cursor: pointer;
		color: white;
    }
	
    .menu-toggle:hover {
        font-size: 25px;
    }
	
    .login {
        border: 0px solid white;
        padding: 10px 30px;
        border-radius: 17px;
        background-color: white;
