/* Punto de control para dispositivos móviles */
@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
		font-family: Montserrat;
    }

    nav {
        display: flex;
        right: 0;
        justify-content: space-between;
        padding: 10px;
		width: 100%;
        position: absolute;
		height: 10%;
        z-index: 2; /* Asegura que la navegación esté por encima de la imagen */
		background: linear-gradient(180deg, #133C6D 0%, rgba(19, 60, 109, 0.00) 100%);
    }
	
    .menu-toggle {
        font-size: 24px;
		margin-left: 20px;
        cursor: pointer;
		color: white;
    }
	
    .menu-toggle:hover {
        font-size: 25px;
    }
	
    .login {
        border: 0px solid white;
        padding: 10px 30px;
        border-radius: 17px;
        background-color: white;
        color: #133c6d;
        font-size: 10px;
		font-weight: 700;
        box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
		height: 12px;
		cursor: pointer;
    }
	
    .login:before {
        height: 0%;
        width: 2px;
    }
    .login:hover {
        box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
              inset -4px -4px 6px 0 rgba(255,255,255,.2),
              inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    }

    .carousel {
        position: relative;
        text-align: center;
    }
	
    .carousel-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 50%; /* Ajusta según la altura deseada para el degradado */
        background: linear-gradient(3deg, #133C6D 9.83%, rgba(0, 0, 0, 0.00) 83.82%);
        z-index: 2; /* Asegura que el degradado esté por encima de la imagen pero debajo del contenido */
		margin-bottom: -1px;
    }

    .carousel-background {
        width: 100%;
        display: block; /* Elimina cualquier espacio extra debajo de la imagen */
		height: 330px;
        background-size: cover;
        background-position: 50%;
        background-repeat: no-repeat;
		z-index: 1;
		position: relative;
    }
 
 
    .carousel-background::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgb(23 23 23 / 40%);
        z-index: 2;
    }
    .carousel-content {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       color: white;
       z-index: 3; /* Asegura que el contenido esté por encima del degradado */
       width: 221px;
       font-size: 7px;
    }

    .carousel-content h1 {
       /* Otros estilos para h1 aquí */
	   height: 50px;
       position: relative;
       cursor: pointer; /* Cambia el cursor para indicar que es interactivo */
    }
	
    .carousel-content h1.has-tooltip.show-tooltip:after {
       transform: translate(-1%, -50%); /* Ajuste fino para centrar exactamente */
       content: attr(data-tooltip); /* Muestra el título completo */
       position: absolute;
       bottom: -180px; /* Ajusta según la ubicación deseada */
       left: 0;
       white-space: pre-wrap; /* Permite saltos de línea y espacios */
       background-color: black;
       color: white;
       padding: 5px 10px;
       border-radius: 5px;
       font-size: 12px;
       z-index: 4;
       max-width: 300px; /* Ajusta según el ancho deseado */

    }

    .logo {
       width: 210px;
       height: 93px;
    }

    .separator {
        display: block;
		border: none;
		border-radius: 1rem;
        height: 3px;
        width: 120px;
        background-color: red;
        margin: 10px auto; /* Centra la línea horizontal */
    }

    .separator2 {
        display: block;
        border: none;
        height: 0.5px;
        background-color: rgba(151, 144, 144, 1);
        margin: 0px auto; /* Centra la línea horizontal */
    }
	
    .separator3 {
        display: block;
        border: none;
        height: 1px;
        width: 85%;
        background-color: #1E3B6C;
        margin: 40px auto; /* Centra la línea horizontal */
    }
	
    button {
        background-color: red;
		border: 2px solid red;
        color: white;
        padding: 10px 20px;
        border-radius: 20px;
		font-size: 9px;
        cursor: pointer;
    }

    .button-general {
        background-color: red;
		border: 2px solid red;
        color: white;
        padding: 10px 20px;
        border-radius: 20px;
		font-size: 9px;
        cursor: pointer;
    }
	
	.button-general:hover {
       border: 2px solid #FFF;
       background-color: rgba(255, 255, 255, 0.20);
	}

    .services {
		position: relative;
        /*display: flex;*/
        /*justify-content: space-around;*/
        /*flex-wrap: wrap;*/
        padding: 30px;
		/*margin-top: -9px;*/
        background-color: rgb(19,60,109);
    }

    .service-container {
       text-align: center;
    }
	
    .service-box {
        display: none; /* Inicialmente oculta todos los servicios */
		width: 150px;
		height: 80px;
		font-size: small;
        /*width: 45%;*/
        /*margin: 19.5%;*/
		margin: 0 auto; /* Centra los servicios */
        text-align: center;
        background-color: rgb(19,60,109);
        color: white;
        border: 2.3px solid white;
        border-radius: 15px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
		cursor: pointer;
    }
	
	.service-box:hover {
		background: #ff22225e;
	}
	
    .service-box span {
        font-weight: 700;
    }

    .service-box.active {
        display: block; /* Muestra solo el servicio activo */
    }

    .service-box .icon {
        font-size: 24px;
        margin-bottom: 10px;
    }
	
    .arrow  {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
        cursor: pointer;
        width: 30px; /* Tamaño del botón */
        height: 30px; /* Tamaño del botón */
        display: flex;
        align-items: center;
        justify-content: center;
        color: #ff0000; /* Color de la flecha */
        font-size: 24px; /* Tamaño de la flecha */
    }
	
	.arrow:hover {
        font-size: 26px;
	}

    .left-arrow {
        left: 10px;
    }

    .right-arrow {
        right: 10px;
    }

    .carousel-image {
       display: none;
       width: 100%;
       position: absolute;
       top: 0;
       left: 0;
    }

    .carousel-image.active {
       display: block;
    }
	
    .owl-dots {
       display: flex;
       justify-content: center;
       align-items: center;
       padding-top: 20px;
    }

    .owl-dot {
       border: none;
       background-color: white; /* Color inicial de los puntos */
       border-radius: 50%;
       width: 8px; /* Tamaño reducido del punto */
       height: 8px; /* Tamaño reducido del punto */
       margin: 0 3px;
       cursor: pointer;
       padding: 0; /* Asegúrate de que no haya padding adicional */
    } 

    .owl-dot span {
       display: none; /* Oculta el span si no es necesario */
    }
	
    .owl-dot:hover {
	   border: 2px solid #FFF;
       background-color: rgba(255, 255, 255, 0.20);
    }
	
    .owl-dot.more-dots {
       background: none; /* Sin fondo */
	   background-color: none; 
       color: #ffffff; /* Color del texto, ajusta según tus preferencias */
       width: auto; /* Ancho automático */
       height: auto; /* Altura automática */
       font-size: 18px; /* Tamaño del signo '+', ajusta según tus necesidades */
       line-height: 1; /* Alineación de línea normal */
       margin: 0 3px; /* Margen para separar de los otros puntos */
       padding: 0; /* Sin padding */
       border: none; /* Sin borde */
       cursor: pointer; /* Estilo del cursor para indicar que es clickable */
    }


    .owl-dot.active:not(.more-dots) {
       background-color: #ff0000; /* Color cuando el punto está activo */
    }
	
	.owl-dot.more-dots.active {
		color: #ff0000;
	}
	
    .modal {
       display: none; /* Oculto por defecto */
       position: fixed;
       z-index: 3; /* Encima de todo */
       left: 0;
       top: 0;
       width: 100%;
       height: 100%;
       overflow: auto; /* Habilita el scroll si es necesario */
       background-color: rgba(255, 255, 255, 0.1);
       backdrop-filter: blur(4px);
       transition: opacity 0.3s ease-in-out;
    }

    .modal-content {
       background-color: #fefefe;
       margin: 15% auto;
       padding: 20px;
       border: none;
       width: 60%;
       border-radius: 1rem;
	   box-shadow: 0px 11px 55px -6px rgba(32,53,90,.16);
	   text-align: center;
	   font-size: 14px;
    }

    .close-button {
       color: #aaa;
       float: right;
       font-size: 28px;
       font-weight: bold;
    }

    .close-button:hover,
    .close-button:focus {
       color: red;
       text-decoration: none;
       cursor: pointer;
    }
	
.birthday-section {
    background: white;
    text-align: left;
   /* padding: 20px; */
    color: #333;
    position: relative; /* Contexto para el posicionamiento absoluto */
	z-index: 1;
}

.birthday-hat { 
    width: 70px;
    position: relative;
    left: 14px;
    top: 30px;
}

.birthday-highlight {
    margin-bottom: 20px;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.birthday-info {
    text-align: left;
    margin-right: 20px; /* Espacio entre texto y foto */
}

.birthday-greeting {
    color: #979090;
    font-size: 26px;
    font-weight: 550;
    margin-bottom: -34px;
    margin-left: -50px;
    font-family: MonteCarlo;
}

.birthday-greeting2 {
    color: #123c6d;
    font-size: 24px;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
}

.birthday-name {
    margin-top: 0;
    color: #979090;
    font-size: 18px;
	margin-bottom: -15px;
	width: 155px;
}

.birthday-role {
    margin-bottom: 30px;
	color: #123c6d;
	width: 115px;
	font-size: 15px;
}

.profile-image-container {
    position: relative;
	margin-bottom: -120px;
}

.birthday-photo {
    width: 130px; /* Ajustar según sea necesario */
    height: 130px; /* Ajustar según sea necesario */
    border-radius: 50%;
    border: 3px solid #c27928;
}

img.birthday-photo {
    background: #c27928;
}

.birthday-cake {
    position: absolute;
    bottom: 0;
    left: -13px;
    width: 65px;
    margin-bottom: -10px;
    z-index: 1;
}

.birthday-base { 
   width: 170px;
    margin-left: -160px;
    position: absolute;
    z-index: -1;
    margin-top: 125px;
}

.globo1 {
    position: absolute;
    bottom: 0;
    left: 18px;
    width: 100px;
    margin-bottom: 120px;
    z-index: -1;
}
.globo2 {
    position: absolute;
    bottom: 0;
    left: 33px;
    width: 125px;
    margin-bottom: 85px;
    z-index: -1;
}

.birthday-list h3 {
    font-size: 18px;
    color: white;
    margin-bottom: 9px;
	margin-top: 70px;
	text-align: center;
	transform: translateY(-10px);
}

.birthday-list ul {
    list-style: none;
    padding-left: 50px;
    padding-right: 50px;
    margin: 0;
	font-size: 13px;
	background: linear-gradient(180deg, #D9D9D9 10.45%, rgba(217, 217, 217, 0.00) 86.99%)
}

.birthday-list li {
    background: #ffffff00;
    margin-bottom: 0px;
    padding: 10px;
    /*border-radius: 10px;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
	color: rgba(151, 144, 144, 1);
}

.birthday-list li:hover {
    cursor: pointer;
    background: #C9A94D;
    color: white;
}


.birthday-background {
background: #eec96b;
    width: 100%;
    height: 100px;
    margin-top: 314px;
    z-index: -1;
    position: absolute;
}

.events-section {
    background-color: #fff;
    color: #808285;
	text-align: center;
}

.event-header {
    background: white;
    text-align: center;
    padding: 20px;
}

.event-header h2 {
    color: #1E3B6C;
	margin-bottom: -10px;

}

.event-image {
    width: 100%;
    height: auto;
	border-radius: 0.2rem;
}

.event-details {
    padding: 20px;
}

.event-info {
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 15px;
    margin-top: 15px;
	text-align: center;
	color: #1E3B6C;
	font-size: 13px;
}

.spacer {
    display: inline-block;
    width: 100px; /* Ajusta el espacio según tus necesidades */
}

.event-info p {
    margin: 10px 0;
}

.event-info i {
    margin-right: 5px;
}

.other-events {
    background-color: #1E3B6C; /* Azul */
    color: #fff;
    padding: 20px;
    text-align: center;
}

.other-events h3 {
    margin-top: 0;
}

/* Añadir clases para los iconos si se utilizan fuentes de iconos como Font Awesome */
.icon-calendar:before {
    content: '\f073'; /* Ejemplo de código de icono de Font Awesome */
}

.icon-location:before {
    content: '\f3c5'; /* Ejemplo de código de icono de Font Awesome */
}

.icon-time:before {
    content: '\f017'; /* Ejemplo de código de icono de Font Awesome */
}

.other-events-section {
    background-color: #1E3B6C; /* Azul oscuro */
    color: #fff;
    padding: 20px;
    text-align: center;
}

.other-events-section h2 {
    margin: 0 0 20px 0;
}

.event-card {
    background-color: transparent; /* Azul más claro */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-bottom: 20px;
	font-size: 12px;
}

.event-content {
    text-align: left;
}

.event-content h3 {
    font-size: 22px;
    margin: 0 0 10px 0;
}

.event-details2 p {
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.event-details2 i {
    margin-right: 10px;
    font-size: 1em; /* Ajustar el tamaño del ícono */
    color: white; /* Un color más suave */
    text-shadow: 0px 0px 3px rgba(0,0,0,0.1); /* Una ligera sombra para añadir profundidad */
    margin-right: 0.5em;
}

.event-image2 {
    background-color: white; /* white */
	border: 3px solid white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
	transform: translateX(10px);
}

.event-image2:hover {
	background-color: #FF0000;
	border: 3px solid #FF0000;
}

.event-image2 img {
    max-width: 125px; /* Ajustar al tamaño deseado */
    max-height: 125px; /* Ajustar al tamaño deseado */
    border-radius: 15px; /* Añadir bordes redondeados si se desea */
	cursor: pointer;
}

.event-image2 span {
    color: #fff;
    font-weight: bold;
}

.news-section {
    text-align: center;
    background-color: #fff;
    padding: 20px;
}

.news-header {
    color: #000;
    text-transform: uppercase;
    border-bottom: 3px solid red;
    display: inline-block;
    margin-bottom: 20px;
}

.news-card {
    position: relative;
}

.news-image-container {
    position: relative;
    padding: 10px; /* Agrega un poco de padding si lo deseas */
	padding-top: 40px;
}

.news-image-wrapper {
    width: 300px; /* Ancho fijo de la imagen */
    height: 200px; /* Altura fija de la imagen */
    overflow: hidden; /* Esconde cualquier parte de la imagen que exceda el contenedor */
    border-radius: 15px; /* Bordes redondeados */
    margin: auto; /* Centrar el contenedor de la imagen si es más pequeño que el ancho del viewport */
}

.news-image {
    width: 100%; /* Asegura que la imagen llene el ancho del contenedor */
    height: 100%; /* Asegura que la imagen llene la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen cubra el contenedor sin perder sus proporciones */
    border-radius: 15px; /* Aplica bordes redondeados a la imagen */
}

.news-prev, .news-next {
    position: absolute;
    top: 140px;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff0000;
    font-size: 24px;
}
	
.news-prev:hover, .news-next:hover {
    font-size: 26px;
}

.news-prev {
    left: -18px;
}

.news-next {
    right: -18px;
}

.news-title {
    color: #263A6B;
    font-weight: bold;
    margin-bottom: 20px;
}

.read-more-btn {
    background-color: red;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}

.main-event-title {
	color: #1E3B6C;
    margin-bottom: -5px;
}



}



@media only screen and (max-width: 280px){
    .carousel-background {
       height: 330px;
    }
   
    .service-box {
	   width: 130px;
    }
   
    .login {
	   padding: 10px 20px;
    } 
   
    .modal-content {
       margin: 20% auto;
    }
   
    .profile-image-container {
       position: relative;
       margin-bottom: -120px;
       margin-left: -45px;
    }
   
    .globo1 {
       position: absolute;
       bottom: 0;
       left: 18px;
       width: 75px;
       margin-bottom: 95px;
       z-index: -1;
    }
	
    .globo2 {
       position: absolute;
       bottom: 0;
       left: 25px;
       width: 100px;
       margin-bottom: 65px;
       z-index: -1;
    }
	
   .birthday-photo {
       width: 100px;
       height: 100px;
       border-radius: 50%;
       border: 3px solid #c27928;
   }
   
   .birthday-cake {
       position: absolute;
       bottom: 0;
       left: -13px;
       width: 55px;
       margin-bottom: -12px;
       z-index: 1;
    }
	
    .birthday-greeting2 {
       color: #123c6d;
       font-size: 20px;
       margin-bottom: 15px;
       z-index: 1;
       position: relative;
    }
	
    .birthday-section {
       font-size: 10px;
    }
	
    .birthday-background {
       margin-top: 302px;
    }
	
    .profile-container {
       margin-top: 0px;
    }
	
    .birthday-list h3 {
       font-size: 15px;
       color: white;
       margin-bottom: 10px;
       margin-top: 70px;
       text-align: center;
    }
	
    .birthday-list ul {
       padding-left: 5px;
       padding-right: 5px;
    }
	
    .birthday-hat {
      width: 70px;
      top: 30px;
    }
	
    .birthday-role {
       margin-bottom: 25px;
    }
	
    .birthday-base {
       width: 140px;
       margin-left: -130px;
       position: absolute;
       z-index: -1;
       margin-top: 100px;
    }
    .event-info {
	   font-size: 10px;
    }

    .spacer {
       width: 60px; /* Ajusta el espacio según tus necesidades */
    }
	
    .event-header h2 {
       font-size: 15px;
    }
	
    .events-section {
       font-size: 13px;
    }
	
    .event-image2 {
	   transform: translateX(0px);
    }
	
    .event-card {
       display: block;

    }
	
    .event-image2 {
       background-color: transparent; /* transparent */
	   border: none;
       border-radius: 15px;
       display: flex;
       justify-content: left;
       align-items: center;
	   transform: translateX(0px);
    }
	
    .news-image {
       width: 90%;
       height: 80%;
       object-fit: cover;
       border-radius: 15px;
       margin-top: 20px;
    }
	
    .news-image-wrapper {
       width: 220px;
       height: 200px;
       overflow: hidden;
       border-radius: 15px;
       margin: auto;
    }

    .event-image2:hover {
	   background-color: transparent;
	   border: none;
    }
	
    .news-image-container {
       padding-top: 10px;
    }
	
    .news-prev, .news-next {
       top: 110px;
    }
}
